common-moex/src/test/resources/xsd/securities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document" type="documentType"/>
  <xs:complexType name="columnType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="bytes" use="optional"/>
        <xs:attribute type="xs:string" name="max_size" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="columnsType">
    <xs:sequence>
      <xs:element type="columnType" name="column" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="columnsType" name="columns"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="TRADENO" use="optional"/>
        <xs:attribute type="xs:string" name="TRADETIME" use="optional"/>
        <xs:attribute type="xs:string" name="BOARDID" use="optional"/>
        <xs:attribute type="xs:string" name="SECID" use="optional"/>
        <xs:attribute type="xs:string" name="PRICE" use="optional"/>
        <xs:attribute type="xs:string" name="QUANTITY" use="optional"/>
<!--        <xs:attribute type="xs:string" name="VALUE" use="optional"/>-->
        <xs:attribute type="xs:string" name="PERIOD" use="optional"/>
        <xs:attribute type="xs:string" name="TRADETIME_GRP" use="optional"/>
        <xs:attribute type="xs:string" name="SYSTIME" use="optional"/>
        <xs:attribute type="xs:string" name="BUYSELL" use="optional"/>
        <xs:attribute type="xs:string" name="DECIMALS" use="optional"/>
        <xs:attribute type="xs:string" name="data_version" use="optional"/>
        <xs:attribute type="xs:string" name="seqnum" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="rowsType" mixed="true">
    <xs:sequence>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element type="metadataType" name="metadata"/>
      <xs:element type="rowsType" name="rows"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="documentType">
    <xs:sequence>
      <xs:element type="dataType" name="data" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>